:root {
  --color-grey: rgb(90, 90, 90);
}

.hidden {
    display: none;
}

/* Header */

.header__container {
    height: 15vh;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: solid 1px var(--color-grey);
}

.header__title {
    margin: 0 0 1rem 0;
}

.header__buttons-container {
    float: right;
}

/* Aside */

.aside__container {
    position: relative;
    float: left;
    width: 39.5%;
    height: 85vh;
    padding: 1rem;
    box-sizing: border-box;
}

.aside__title {
    width: max-content;
    color: var(--color-grey);
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: solid 1px var(--color-grey);
}

.aside__label {
    font-weight: bold;
    display: inline-block;
    padding-top: 1rem;
}

.aside__label:after {
    content: " : ";
}

.aside__footer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* hr */

.separator {
    width: 1%;
    margin: 0;
    height: 85vh;
    position: relative;
    float: left;
    border: none;
    border-left: dashed 1px var(--color-grey);
    border-right: dashed 1px var(--color-grey);
    background: lightgrey;
    box-sizing: border-box;
    cursor: ew-resize;
}

/* Preview */

.preview__container {
    position: relative;
    float: left;
    width: 59.5%;
    height: 85vh;
    box-sizing: border-box;
}

.preview__title {
    background: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;
    color: var(--color-grey);
    margin: 0;
    padding: 1rem;
    border: solid 1px var(--color-grey);
}

.preview__background {
    background-color: lightblue;
    height: 100%;
}
