<div class="component-modal__container">
    <h3 class="component-modal__title"></h3>
    <div class="component-modal__close"></div>
    <div class="component-modal__body">
    </div>
    <div class="component-modal__footer">
        <div id="compoent-footer-template-button" class="hidden">
            <button 
                class="component-modal__footer-button"
                onclick="{{ footer_button_callback }}">
                {{ footer_button }}
            </button>
        </div>
    </div>
</div>
