<div>
    <label class="aside__label">Titre</label>
    <input id="side-title" type="text" maxlength="50" />
</div>
<div>
    <label class="aside__label">Contenu</label>
    <div id="side-content"></div>
</div>
<div>
    <label>Afficher un bouton de fermeture</label>
    <input type="checkbox" id="side-show-close-button" checked>
</div>
<div>
    <fieldset>
        <legend>Pied de page</legend>
        <div id="side-footer-template-button" class="hidden">
            <label>{{ footer_button_name }}</label>
            <input type="text" maxlength="50" value="{{ footer_button_value }}" />
            <label>callback :</label>
            <strong>{{ footer_button_callback }}</strong>
        </div>
        <div id="side-footer-buttons">
        </div>
    </fieldset>
</div>
<div>
    <fieldset>
        <legend>API</legend> <p>
            <label>Ouverture</label>
            <input id="button-open" type="text" maxlength="50" />
        </p>
        <p>
            <label>Fermeture</label>
            <input id="button-close" type="text" maxlength="50" />
        </p>
    </fieldset>
</div>
