:root {
  --modal-color-grey: rgb(90, 90, 90);
}

.component-modal__background:before {
    content: '';
    background: grey;
    opacity: .9;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.component-modal__close {
    position: absolute;
    right: -1.2em;
    top: -1.5em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

.component-modal__close:before,
.component-modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: .3rem 0 0 -1px;
    top: 0;
    transform: rotate(-45deg);
}

.component-modal__close:after {
    transform: rotate(45deg);
}

.component-modal__container {
    background: white;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    box-shadow: 1px 1px 12px #555;
    width: 33%;
}

.component-modal__container--hidden {
    display: none;
}

.component-modal__title {
    position: absolute;
    top: -1.5rem;
    margin: 0;
    color: var(--modal-color-grey);
}

.component-modal__body {
    background: white;
    padding: 1rem;
}

.component-modal__footer {
    padding: 1rem;
    border-top: dashed 1px var(--modal-color-grey);
    text-align: right;
}
